body {
  background: white;
  color: black;
  font-family: verdana;
      font-size: 20px;
}
header  {
 margin-bottom: 15px;
 height: 100px;
 width: auto;
 background-color: white;
}

.main{
  background-color: #e92d5d;
  display: block;
  color: white;
  max-width: auto;
}


/*FONT and TEXT Color*/

.righttextBlackShoe {
padding-left: 50px;

}
.greytext {
color: grey;
font-size: 15px;

}
.productdeailtabheader {
color: red;
font-size: 20px;

}
.productdetailsubheader {
color: black;
font-size: 25px;
font-style: normal;

}

.productdetailsubheader-content {
font-size: 15px;
font-style: oblique;

}

.RecomShoeTitle {
color: white
  }

.menuleft {
color: red;
display: inline-block;
float: left;
}

.rightmenu {
  color: red;
  float: right;

}

.Price {
  color: white

}

/*Images*/


.logoshoe {
	  background-color: white;
    display: inline-block;
    width: 75px;
    height: 40px;
    float: left;
	}

.blackshoe {
float: left;
padding-left: 150px;
}

.recommended-shoes{
  background-color: #e92d5d;

}


.image-1 {
    height: 200px;
    width: 350px;
  }


  .image-2 {
    height: 200px;
    width: 350px;
  }


  .image-3 {
    height: 200px;
    width: 350px;
  }


/*alignment css*/

.recshoealign{
  display: inline-block;
}
