body {
  background: white;
  color: black;
  font-family: verdana;
      font-size: 20px;
}
header  {
 margin-bottom: 15px;
 height: 100px;
 width: auto;
 background-color: white;
}

.main{

background-color: #de1c73;
background-image: -webkit-linear-gradient(left, hsl(0, 80%, 70%), #ff5021); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
background-image: -moz-linear-gradient(right, hsl(0, 80%, 70%), #ff5021); /* For Firefox (3.6 to 15) */
background-image: -o-linear-gradient(right, hsl(0, 80%, 70%), #ff5021); /* For old Opera (11.1 to 12.0) */
background-image: linear-gradient(to right, hsl(0, 80%, 70%), #ff5021); /* Standard syntax; must be last */
display: block;
color: white;
max-width: auto;
height: 500px;

}


/*FONT and TEXT Color*/

.ShopRecShoes {
  background-color: #ffeded;
  text-align: center;
}

.righttextBlackShoe {
padding-left: 50px;

}
.greytext {
color: grey;
font-size: 15px;

}
.productdeailtabheader {
color: red;
font-size: 20px;

}
.productdetailsubheader {
color: black;
font-size: 25px;
font-style: normal;

}

.productdetailsubheader-content {
font-size: 15px;
font-style: oblique;

}

.RecomShoeTitle {
color: white
  }

.menuleft {
color: red;
display: inline-block;
float: left;
}

.rightmenu {
  color: red;
  float: right;

}

.Price {
  color: white

}

/*Images*/


.logoshoe {
	  background-color: white;
    display: inline-block;
    width: 75px;
    height: 40px;
    float: left;
	}

.blackshoe {
float: left;
padding: 100px 30px 100px 80px;
}

.recommended-shoes{
  background-color: #de1c73;
    background-image: -webkit-linear-gradient(left, hsl(0, 80%, 70%), #ff5021); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -moz-linear-gradient(right, hsl(0, 80%, 70%), #ff5021); /* For Firefox (3.6 to 15) */
  background-image: -o-linear-gradient(right, hsl(0, 80%, 70%), #ff5021); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, hsl(0, 80%, 70%), #ff5021); /* Standard syntax; must be last */

}


.image-1 {
    height: 200px;
    width: 350px;
    }


  .image-2 {
    height: 200px;
    width: 350px;
    }


  .image-3 {
    height: 200px;
    width: 350px;
  }


/*alignment css*/

.recshoealign{
  display: inline-block;
  padding-left: 45px;
}
