body {
  background: white;
  color: black;
  font-family: verdana;
      font-size: 20px;
}

.main{
  background-color: #e92d5d;
  display: block;
  color: white;
  max-width: 1500px;
}

.logo {
	  background-color: white;
	  font-size: 20px;
    display: inline-block;
    max-width: 1500px;
	}

/*FONT and TEXT Color*/
.greytext {
color: grey;
font-size: 15px;

}
.productdeailtabheader {
color: red;
font-size: 20px;

}
.productdetailsubheader {
color: black;
font-size: 25px;
font-style: normal;

}

.productdetailsubheader-content {
font-size: 15px;
font-style: oblique;

}

.RecomShoeTitle {
color: white
  }

.menuleft {
color: red;

}

.Price {
  color: white

}

/*Images*/

.recommended-shoes{
  background-color: #e92d5d;

}

span {
  color: black

}

.logoshoe {
height: 30px;
width: 70px;
float: left;

}

.image-1 {
    height: 200px;
    width: 350px;
  }


  .image-2 {
    height: 200px;
    width: 350px;
  }


  .image-3 {
    height: 200px;
    width: 350px;
  }


/*alignment css*/

.recshoealign{
  display: inline-block;
}
